<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Vue Jees</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 5%;
        font-family: "QuickSand", sans-serif;
      }
      .active {
        background: powderblue;
        padding: 5px;
        border: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <img :src="gambar" alt="500" />
     
      <header-component></header-component>
      
    
      <main>
        <h3>Form Submit</h3>
        <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit"></p>
        <h3>Berapakah Perulanganya? ({{kelas.length}})</h3>
        <template v-if="kelas.length">
           <li v-for="(item,index) of kelas">{{index+1}} {{item}}</li>
          <!--Ini merupakan contoh dari v-for di dalam VueJees-->
        </ul>
        <li v-else>Bahasa Belum Tersedia ya brayyyyyy!!!!</li>
      </template>
        <h2>Perulangan Angka(1-5)</h2>
        <ul>
          <li v-for="i in 5 ">{{i}}</li>
        </ul>
        <h2>Mencari Bilangan Genap: (1-5)</h2>
        <ul>
          <li v-for="x in findEvenNumber (numbers)">{{x}}</li>
        </ul>
        <p>{{kelas}}</p>

      </main>

      
      <footer-component></footer-component>

      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

      Vue.component('header-component', { 
        template:`<header>
        <img src="/image/logos.png" width="80" />
        <h1>{{name}}</h1>
      <p>Vue Jees Merupakan Salah Satu FrameWok JavaScript</p>
       </header>`
    
      })

      Vue.component('footer-component' , {
        template:  `<footer id="footer">
                   <p>copyright 202567</p>
                  </footer>` 
      })
   
      // Contoh penulisan data di dalam Vue ketika di masukan ke dalam Variable
      const member = {
        // Isi Bisa : Strin , Boolean , array , object
        name: "Ramdoni Ganteng",
        message: "Hai Doni Ganteng !!!",
        address: {
          city: "Bogor",
          zip: 007007,
        },
        isactive: true,
        qty: 3,
        namaDepan: "Ramdoni",
        namaBelakang: "Istri Rem:",
        bilangan: 1,
        gambar: "/image/Rem.jpeg", // Ini merupakan contoh dari data image yang kita binding attribute
        menu: "home",
        kelas: ["Golang", "Java", "Kotlin", "PHP"],
        numbers: [1, 2, 3, 4, 5],
      };
      

      
      const vm = new Vue({
        // Ini merupakan cara bagaimana kita membuat object di dalam Vue secara global di masukan ke dalam variabel
        el: "#app", // ini adalah key dan value di Vue key = el , value nya = string Id #app
        // Penulisan Data di satu Variable
        data: member,
        methods: {
          getname: function () {
            return "Coba Sapa!!!! Hallo : " + " " + this.name;
          },
          ubahNama: function (namaBaru) {
            this.name = namaBaru;
            this.getname(); // fungsi ubahNama Memanggil Fungsi getName
          },
          handleClick: function () {
            this.bilangan++;
            this.gambar = "image/Emilia.jpeg";
            // this.gambar = "image/Itsuki.jpg";
            // this.gambar = "image/Miku.jpeg";
            // this.gambar = "image/Ichika.jpeg";
          },
          findEvenNumber: (data) => {
            return data.filter((angka) => {
              return angka % 2 == 0;
            });
          },
          gantiMenu: function (data,event) {
            this.menu = data 
          },
          submit: function(event) {
            let text =event.target.value 
            this.kelas.unshift(text)
            event.target.value = ""
          }
        },
        computed: {
          // computed adalah melakukan perhitungan dalam suatu project application jika sudah masuk kedalam vue project
          totalBayar: function () {    
            // Ini mengembalikan total Bayar yang data nya di ambil dari qty data
            return this.qty * 4500;
          },
          namaLengkap: function () {
            // ini mengembalikan namaLengkap yang data nya di ambil dari data namaDepan And Belakang
            return this.namaDepan + this.namaBelakang;
          },
          cekBilangan: function () {
            return this.bilangan % 2 == 0 ? "Genap" : "Ganjil";
          },
        },
        
      });
    </script>
  </body>
</html>



